@import 'preset.css'; 
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'components.css';
@import 'modules.css';

@import 'pages.css';

@import 'forms.css';

@import 'developer.css';


/* body */

html {
	min-height: 100vh;
	overflow-y: scroll;
	background-color: var(--primary-color);
}

/*body.home {
	background-image: url('../assets/img/bliss.png');
	background-size: contain;

	.site-header {
		background-color: transparent;
	}
	main {
		background-color: transparent;
	}
}*/

body, main {
	background-color: var(--background-color);
}

main > section + section, article > section + section {
		margin-block: 10vh;
	}
}
