faq {
	display: grid;
	gap: 20px;

	header {
		display: grid;
		gap: 20px;

		text-align: center;
	}

	ul.questions {
		display: grid;
		li {
			padding: 20px;

			details > summary {
				list-style: none;
			}

			p {
				margin-top: 20px;
			}
		}

		li + li {
			border-top: 1px solid lightgray;
		}
	}
}x