@import 'preset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'components.css';
@import 'modules.css';
@import 'forms.css';

masthead {
	background-color: red;
}

emojimart-app {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

product-view {
	max-height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
}

checkout-view {
	max-height: 100vh;
	overflow-y: scroll;
}

product-showcase {
	margin-bottom: 4em;
	ul {
		list-style: none;
		padding: unset;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
		gap: 20px;

		overflow-x: scroll;

		li {
			grid-row: 1;
		}

	}
}

product-card {
	display: grid;
	gap: .5rem;
	min-width: 250px;
	position: relative;
	margin-bottom: 1rem;

	p {
		margin: unset;
	}
	img {
		max-width: 150px;
	}
	.name {
	}
	.price {
		font-weight: 700;
		font-size: 2rem;
	}

	.product-actions {
		display: flex;
/*		gap: 20px;*/
		position: absolute;
		background-color: #defebc;
		padding: .25rem;
/*		padding: 0 .6rem;*/
		color: black;
		font-size: 1.2rem;
		font-weight: 700;
		left: 80px;
		border-radius: 100px;
		border: none;

		button {
			padding: unset;
			border: unset;
			background-color: inherit;
			padding-inline: .5rem;
		}

		.count {
			background-color: #defebc;
			padding-inline: 1rem;
		}
	}

	/*form.product-add {
		position: absolute;
		background-color: #defebc;
		padding: 0 .6rem;
		color: black;
		font-size: 1.5rem;
		left: 150px;
		border-radius: 100%;
		border: none;
	}*/
}

empty-cart {

	display: grid;
	min-width: 100%;
	justify-items: center;
	opacity: 40%;

	p {
		font-size: 2rem;
		font-weight: 700;
		max-width: 20ch;
		text-align: center;
	}
	picture {
		max-width: 250px;
	}
}

checkout-product {
	display: flex;
	gap: 50px;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	picture {
		max-width: 75px;
	}

	/*product-details {
		display: flex;
		flex-direction: column;
		margin: unset;
	}*/

	.product-actions {
		display: grid;
		gap: 10px;
		background-color: #defebc;
		padding: .5rem;
		color: black;
		font-size: 1.2rem;
		font-weight: 700;
		border-radius: 100px;
		border: none;

		button {
			padding: unset;
			border: unset;
			background-color: inherit;
/*			padding-inline: .5rem;*/
		}

		.count {
			background-color: #defebc;
/*			padding-inline: 1rem;*/
		}
	}
}

full-cart {

	display: flex;
	flex-direction: column;
   justify-content: space-between;
   height: 85vh;

	cart-totals {

		display: grid;
		grid-columns: 1;
		gap: 10px;
		padding: 1rem;
		font-size: 1.5rem;
		text-align: center;

		.title {
			font-weight: 700;
		}

		.farewell {
			font-size: 2rem;
			font-weight: 700;
		}
	}

}


