exercises-spotlight {
	h2 {
		margin-bottom: 1.5rem;
	}

	.exercise-list {
		display: grid;
		gap: 40px;
	}

	/* unset article defaults */
	
	ul {
		list-style: none;
		margin: unset;
		padding: unset;
		border: none;
	}
}

@media (min-width: 800px) {
	exercises-spotlight .exercise-list {
		grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
	}
}