.link-button {
	width: 200px;
	padding: 16px;
	text-align: center;
}

.btn-primary {
	background-color: var(--corporate);
	color: white;
}

.btn-secondary {
	border: 2px solid var(--corporate);
	color: var(--corporate);
	padding: 14px;
}

.video {
	display: block;
	width: 100%;
	height: auto;
	aspect-ratio: 3 / 2;
	background-color: var(--faint);
}

.profile-icon {
	max-width: 40px;
	border-radius: 100%;
	overflow: hidden;
}