.link-button {
	width: 200px;
	padding: 16px;
	text-align: center;
}

.btn-primary {
	background-color: var(--corporate);
	color: white;
}

.btn-secondary {
	border: 2px solid var(--corporate);
	color: var(--corporate);
	padding: 14px;
}

.video {
	min-width: 90vw;
	aspect-ratio: 3 / 2;
	background-color: var(--faint);
}