@import "reset.css";
@import "setup.css";
@import "settings.css";
@import "structure.css";
@import "typography.css";
@import "components.css";
@import "modules.css";

.site-header {
	border-bottom: 1px solid lightgray;
}

body.default {
	background-color: lightgreen;
}

body.wavy {
	background-color: lightcyan;
}

body.blue {
	background-color: lightblue;
}