.site-header {
	background-color: #7b8bc5;
	border: var(--border);
	header {
		display: flex;
		flex-direction: column;
	}

	.site-header-nav ul, .sign-in {
		display: flex;
		border: var(--border);
		padding: var(--padding);
	}

	a {
		border: var(--border);
		padding: var(--padding);
	}
}

.diptych {
	background-color: #8bb1c9;
	border: var(--border);
	picture {
		border: var(--border);
		padding: var(--padding);
		img {
			border: var(--border);
			padding: var(--padding);
		}
	}
	.diptych-copy {
		border: var(--border);
		padding: var(--padding);
		padding-block: calc(var(--padding) * 4);
		display: flex;
		flex-direction: column;
		gap: var(--padding);
		h2, p {
			border: var(--border);
			padding: var(--padding);
		}
	}
}

.cta {

}

.articles {

}

.cta:nth-child(2) {
	background-color: pink;
}

.site-footer {

}

@media (width > 600px) {
	.site-header header {
		flex-direction: row;
		justify-content: space-between;
	}
	.diptych .inner-column {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: "copy picture"; 
		picture {
			grid-area: picture;
			display: grid;
			align-items: center;
		}
		.diptych-copy {
			grid-area: copy;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
