project-card {
	display: grid;
	gap: 40px;

	card-content {
		display: grid;
		gap: 10px;
	}
}



@media (min-width: 800px) {
	project-card {
	grid-template-columns: 1fr 1fr;

	card-content {
		align-self: center;
	}
}