<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>APP</title>
	<link rel="stylesheet" href="../../../styles/app.css">
</head>
<body>

	<header class="site-header">
		<mast-head>

			<button data-id="home">
				APP/LOGO
			</button>
			<button data-id="user-pref">
				USER PREFERENCES
			</button>
			
		</mast-head>
		<contextual-menu>
			<!-- <button>
				BACK
			</button> -->

			<!-- PAGE TITLE -->
		</contextual-menu>
	</header>

	<main id="outlet">

		<cas-edit>
			<h1>Create-A-Sim</h1>

			<form class="cas-form" action="">
				form	
			</form>


			<button data-id="randomize" class="main-menu-button">
				Randomize All
			</button>
			<button data-id="saved-sims" class="main-menu-button">
				Save
			</button>

		</cas-edit>

	</main>

	<script>
		
		// console.log()










	</script>
</body>
