<home-info>

	<picture>
		<img src="https://peprojects.dev/images/square.jpg" alt="">
	</picture>
	<h1>App</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eius, dignissimos praesentium velit dolorem culpa facere esse repudiandae, est optio? Quibusdam sequi illum, enim nam placeat necessitatibus ducimus consequatur quo.
	</p>

	<!-- <button class="main-menu-button">
		Sign In
	</button>
	<button class="main-menu-button">
		Sign Up
	</button> -->

	<button class="main-menu-button">
		Open Sesame
	</button>

</home-info>
