:root {

	/* sizing */
	--space: 4px;

	--inner-column: 1200px;
	--inner-column-tight: 800px;
	--inner-column-wide: 1600px;

	/* colors */

/*	--hue-primary: */

	

	
	/* tricks */
	/* border */
	/* rounded corners */

}