body {
	display: flex;
	flex-direction: column;
	height: 100vh; 
} 

main {
	flex: 1; 
/*	min-height: 100vh;*/
}

inner-column {
	display: block;
	max-width: 1200px;
	margin-inline: auto; 
	padding: calc(var(--space) * 4);
}


section inner-column {
/*	padding-block: calc(var(--space) * 5);*/
}
