/*ul.hh-cards {
	list-style: none;
	padding: unset;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

	hh-card {
		padding: 10px;
	}
}*/

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
