@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	all:  unset; /* what would this do? */
	appearance: none;

	display: block;

	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.4;
	text-transform: uppercase;

	background-color: var(--color);
	color: var(--highlight);


	padding: 0.5em 1em;
	background-color: var(--color);
	min-width: 120px;
	text-align: center;

	border-radius: 20%/70%;

	/*border-radius: 50% 0;
	padding: .75em 1.5em;*/
}

/* 
	article-card - might be something you put here?
*/