/* could we pull in @fonts here? */

.loud-voice	{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: clamp(36px, 5vw, 60px);
	@media (min-width: 600px) {
		font-weight: 700; /* or variable font */
	}
}

.attention-voice	{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
	font-weight: 700;
	/* we suggest you always specifically set things like line-height and test multiple lines of text */
}

.strong-voice	{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size:  1rem;
}

.calm-voice, p {
	font-family: 'Cabin', sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}
/* should handle all the default fonts sizes */
/* could be set on the body... but... consider what side-effects... */

/* consider what these do */
:is(.calm-voice, p) em {
	font-family: 'Cabin', sans-serif;
	font-style: italic;
}

:is(.calm-voice, p) {
	strong {
		font-weight: 700;
	}
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
