.garden-abstract {
}

garden-abstract {
	display: grid;
	gap: 30px;
	article {
		h2 {
			margin-bottom: 1rem;
		}
		li {
			padding: var(--space-4x);
			h3 {
				margin-bottom: .5rem;
			}
		}
		li h3::before {
			display: inline;
			content: "";
		}
	}
}

@media (min-width: 750px) {
	garden-abstract {
		article {
			display: grid;
			grid-gap: 10px;
			grid-template-columns: 1fr 1fr;
		}
	}
}