.garden-abstract {
}

garden-abstract {
	display: grid;
	gap: 30px;
	article {
		display: grid;
		gap: 20px;
		h2 {
			margin-bottom: 1rem;
		}
		li {
			padding: var(--space-4x);
			h3 {
				margin-bottom: .5rem;
			}
		}
		li h3::before {
			display: inline;
			content: "";
		}

		.abstract {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.content > p {
			font-size: clamp(var(--text-lg), 8vw, var(--text-xl));
		}
	}
}

@media (min-width: 750px) {
	garden-abstract {
		article {
			display: grid;
			grid-gap: 10px;
			grid-template-columns: 1fr 1fr;
		}

		.abstract {
			justify-content: space-between;
		}
	}
}