generic-figure	{
	figure {
		display: grid;
		gap: 1rem;
	}
}

@media (min-width: 800px) {
	generic-figure {
		max-width: 80%;
		place-self: center;

		&.centered {
			max-width: var(--char-width);
			place-self: center;
		}
	}
}