page-header {
	margin-bottom: 3rem;
	display: grid;
	gap: 1rem;

	.banner-type {
		margin-bottom: 1rem;
		&.top-level {
		margin-bottom: 2rem;
		}
	}

	div.meta {
		display: flex;
		gap: 1rem;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.page-links {
		display: flex;
		flex-wrap: wrap;
		gap: .5rem 1rem;
	}

	.date {
		display: inline-block;
	}


	/* unset article defaults */
	
	ul {
		list-style: none;
		margin: unset;
		padding: unset;
	}

	.callout {
		margin: unset;
	}
}

