@import 'reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'components.css';
@import 'modules.css';


.site-menu {

	display: flex;
	gap: 20px;
	align-items: center;
	
	.home {
		font-size: 24px;
		font-weight: 700;
	}
}


