student-welcome {
	margin-block: 5rem;
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 40px;

	.actions {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@media (min-width: 800px) {
			flex-direction: row;
		}
	}
}
