application {
	h2 {
		font-size: 3rem;
		font-weight: bold;
		margin-bottom: .5em;
	}

	form {
		border-left: 10px solid #78672c;

/*		linear-gradient(112deg, rgba(123,139,197,1) 0%, rgba(139,177,201,1) 16%, rgba(151,203,168,1) 28%, rgba(178,205,133,1) 40%, rgba(201,189,131,1) 52%, rgba(191,154,124,1) 64%, rgba(183,122,127,1) 76%, rgba(183,122,177,1) 88%, rgba(129,115,195,1) 100%);*/

		border-radius: 5px;
		padding-left: 20px;
		max-width: 800px;
		line-height: 2rem;
	}

	p {
		color: #78672c;
	}

	label, p {
		font-size: 1.2rem;
	}

	.field {
/*		display: flex;
		flex-direction: column;
*/		padding: 1em;
		border-radius: 5px;
		display: inline-block;
		label {
			margin-bottom: .5em;
			padding-right: .5em;
			font-weight: bold;
		}
		margin: .5em .5em .5em 0;
	}

	.nested-field {
		display: inline;
	}

	.field + .field, .nested-field + .nested-field, label + .nested-field {
		margin-bottom: 1em;
	}

	.field .nested-field {
		label {
			font-weight: 400;
		}
	}

	label + .nested-field, label + textarea {
		margin-top: .5em;
	}

	.block {
		display: block;
	}

	.block-full {
		display: block;
		input {
			width: 100%;
			margin-top: .5em;
		}
	}

	.block-fit {
		display: block;
		width: fit-content;
	}

	.nested-field.block {
		input {
			width: 100%;
			margin-top: .5em;
		}
	}

	.zip {
		max-width: 10ch;
	}

	input, select, textarea {
		font-family: inherit;
		font-size: 1.2rem;
		color: inherit;
		background-color: #ffffe1;
		border: none;
		border-radius: 5px;
	}

	.nested-field {
		* + input, * + select {
			margin-right: .5em;
		}
	}

	button {
		margin-block: 1em;
		padding: 1em 2em;
		border-radius: 5px;
		border: none;
		font-family: inherit;
	}

	button[type="submit"] {
		background-color: #fcf0ba;
		text-transform: uppercase;
		font-weight: 700;
		font-size: inherit;
		margin-bottom: 0;
	}






















	.field:nth-child(9n + 1) {
		background-color: #b7c8fb;
		color: #0b247b;
	}

	.field:nth-child(9n + 2) {
		background-color: #bee7fc;
		color: #255a7d;
	}

	.field:nth-child(9n + 3) {
		background-color: #c3fddc;
		color: #377e48;
	}

	.field:nth-child(9n + 4) {
		background-color: #e1febb;
		color: #517f23;
	}

	.field:nth-child(9n + 5) {
		background-color: #fcf0ba;
		color: #7c661e;
	}

	.field:nth-child(9n + 6) {
		background-color: #f8d3b7;
		color: #773712;
	}

	.field:nth-child(9n + 7) {
		background-color: #f4b6be;
		color: #751417;
	}

	.field:nth-child(9n + 8) {
		background-color: #f4b6e8;
		color: #75145c;
	}

	.field:nth-child(9n + 9) {
		background-color: #c2b4fa;
		color: #1b017b;
	}





