<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>APP</title>
	<link rel="stylesheet" href="../../../styles/app.css">
</head>
<body>

	<header class="site-header">
		<mast-head>

			<button data-id="home">
				APP/LOGO
			</button>
			<button data-id="user-pref">
				USER PREFERENCES
			</button>
			
		</mast-head>
		<contextual-menu>
			<!-- <button>
				BACK
			</button> -->

			<!-- PAGE TITLE -->
		</contextual-menu>
	</header>

	<main id="outlet">

		<caf-config>
			<h1>Create-A-Family: Config</h1>

			<form class="caf-form" action="">

				

			</form>


			<button data-id="randomize" class="main-menu-button">
				Randomize
			</button>

			<button data-id="reset" class="main-menu-button">
				Reset
			</button>

			<button data-id="caf-edit" class="main-menu-button">
				Accept
			</button>
		</caf-config>

	</main>

	<script src="../../../js/caf-config.js"></script>
</body>
