body {
	font-family: sans-serif;
}

.xl-type {
	font-size: 2rem;
	font-weight: 700;
}

.l-type {
	font-size: 1.6rem;
	font-weight: 700;
}

p {
	line-height: 1.2rem;
}

h1 + p, h2 + p {
	margin-top: calc(var(--padding) * 1); 
}