.work-card {

	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		a {
			color: var(--primary-color);
		}
	}

	p, .tech-type {
		margin-top: .5rem;
	}
	.tech-type {
		display: inline-block;
	}
}


.exercise-card {

	.card-title {
		font-size: 1.5rem;
		font-weight: 700;
		color: var(--primary-color);
	}

	p, .tech-type {
		margin-top: .5rem;
	}
	.tech-type {
		display: inline-block;
	}
}

.breadcrumb {
	margin-bottom: 2em;
	display: inline-block;
}

* + .breadcrumb {
	margin-top: 2em;
}

dev-info {
	background-color: white;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}