.work-card {

	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		a {
			color: var(--primary-color);
		}
	}

	p, .tech-type {
		margin-top: .5rem;
	}
	.tech-type {
		display: inline-block;
	}
}


.exercise-card {

	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		color: var(--primary-color);
	}

	p, .tech-type {
		margin-top: .5rem;
	}
	.tech-type {
		display: inline-block;
	}
}