html {
	--primary-color: #0000ff;
	--display-type: "Space Mono";
	--body-type: "Helvetica Neue", sans-serif;
	--accent-type: "Jersey 15", sans-serif;
	--rainbow-gradient: linear-gradient(103deg, rgba(138,160,255,1) 0%, rgba(130,233,255,1) 16%, rgba(150,255,224,1) 31%, rgba(183,255,147,1) 39%, rgba(250,255,132,1) 51%, rgba(255,213,74,1) 63%, rgba(255,182,136,1) 73%, rgba(255,158,158,1) 82%, rgba(255,150,233,1) 90%, rgba(200,152,255,1) 100%);
}
