.site-foot {
	background-color: var(--primary-color);
	color: white;
	padding: 1em 2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.tagline {
		text-align: center;
		font-size: 1.2em;
		text-transform: uppercase;
  		font-family: var(--accent-type);
  		font-weight: 400;
  		font-style: normal;
  		letter-spacing: .2em;
  		padding: 0 1em;
		a {
			color: white;
			text-decoration: none;
		}
	}
	.contact-nav {
		ul {
			display: flex;
			justify-content: center;
		}
			li {
			padding: 0 1em;
		}
		a {
			font-family: var(--accent-type);
			text-decoration: none;
			color: white;
			text-transform: uppercase;
		}
	} 
}