@import 'reset.css'; 
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'components.css';


/* components */

@import 'site-head.css';
@import 'site-foot.css';



/* body */

html {
	min-height: 100vh;
	overflow-y: scroll;
}

 body {
 	background: var(--primary-color);
/* 	 background: var(--rainbow-gradient);*/
/* 	 margin: 100px;*/
}

main {
	background-color: var(--background-color);
}



/* inspo */


.inspo-pics  {
	margin-top: 4em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.inspo-container {
	margin-inline: 20px;
}

