@import 'reset.css'; 
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'components.css';


/* components */

@import 'site-head.css';
@import 'site-foot.css';



/* body */

html {
	min-height: 100vh;
	overflow-y: scroll;
}

 body {
 	background: var(--primary-color);
/* 	 background: var(--rainbow-gradient);*/
/* 	 margin: 100px;*/
}

main {
	background-color: var(--background-color);
}

