body {
	font-family: sans-serif;
}

p {
	font-size: 1rem;
}

.xl-type {
	font-family: "Space Mono", san-serif;
	font-size: 5rem;
	font-weight: 700;
	line-height: 0.8;
	&.rainbow {
		background: linear-gradient(103deg, rgba(138,160,255,1) 0%, rgba(130,233,255,1) 16%, rgba(150,255,224,1) 31%, rgba(183,255,147,1) 39%, rgba(250,255,132,1) 51%, rgba(255,213,74,1) 63%, rgba(255,182,136,1) 73%, rgba(255,158,158,1) 82%, rgba(255,150,233,1) 90%, rgba(200,152,255,1) 100%);
	}
	&.top-level {
		line-height: .1em;
		text-transform: uppercase;
	}
}


.x-type {
	font-family: "Space Mono", monospace;
	font-size: 2rem;
	font-optical-sizing: auto;
	font-weight: 700;
}

.m-type {
	font-family: "Space Mono", monospace;
	font-size: 1.5rem;
	font-optical-sizing: auto;
}

.sm-type {
	font-family: "Space Mono", monospace;
	font-size: 1rem;
  	font-optical-sizing: auto;
  	font-weight: 700;
}